html {
    background-color: hsl(212, 45%, 89%);

    font-family: Outfit, sans-serif;
}

body {
    font-size: 15px;
}

.content {
    width: 300px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    padding: 15px 15px;
    background-color: hsl(0, 0%, 100%);

    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.qr-code {
    border-radius: 15px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.attribution { 
    position: fixed;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.attribution a {
    color: hsl(228, 45%, 49%);
    text-decoration: none;
}